:root {
    --bright1: #F14A00;
    --bright2: #C62300;
    --dark1: #500073;
    --dark2: #2A004E;
    --darkest: #2A004E;
    
  }
.todo-app{
    background-color: var(--dark2);
border: solid 2px black;
border-radius: 2em;
max-width: 40em;
padding: 0.3em;
}
.todo-app h1{
    font-family: monospace; text-align: center;
    font-size: 50px;
    color: var(--bright1);
}
.input-area{

    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.input-area input{
    background-color: var(--bright2);
    border: none;
    border-radius: 2em;
    height: 3em;
    width: 25em;
}
.input-area button{
    background-color: var(--bright2);
    border: none;
    color: white;
    height: 3em;
    width: 6em;
    border-radius: 1em;
    transition: background-color 0.5s ease ;
    
}
 button :hover{
    background-color: rgb(24, 142, 95);
}
.task-list ul{
    list-style-type:symbols(X);
    font-size: 30px;
    display: contents;
}
.task-list li{
    background-color: var(--dark1);
    margin: 5px;
    border-radius: 2em;
    padding: 0.5em 1em;
    display: flex;
    justify-content:space-between;
    align-items: center;
   
    color: white;
}
.parent-of-status-and-task{
    display: inline-flex;
    align-items: center;
    
}
.status-box{
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: var(--bright1);
}
.delete-box{
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 0.2em;
    background-color: var(--bright1);
}
.delete-box img{
    
    height: 100%;
}